.filter {
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: black;
  margin-left: 50px;

  .order, .column {
    margin: 5px;

    > label {
      padding-right: 5px;
      font-size: 15px;
    }
    > select {
      background-color: #FFF;
      border: 1px solid black;
    }
  }
}