<div class="weather">
  <h1>Weather Table</h1>
  <div class="toolbar">
      <app-paginate
      [pagnation]="pagnation"
      [dataLength]="dataLength"  
    ></app-paginate>
    <app-filter
      [filter]="filter"
    ></app-filter>
    <app-search
      [search]="search"
    ></app-search>
  </div>
  <table>
    <tr>
      <th>City</th>
      <th>Hi</th>
      <th>Low</th>
      <th>Temp</th>
      <th>Description</th>
    </tr>
    <ng-container *ngFor="let city of data | async | paginate:pagnation.rows:pagnation.currentPage | filter:filter.order:filter.column | search:search.query">
      <tr>
        <td>{{ city.name }}</td>
        <td>{{ city.main.temp_min }}</td>
        <td>{{ city.main.temp_max }}</td>
        <td>{{ city.main.temp }}</td>
        <td *ngFor="let weather of city.weather">{{ weather.description }}</td>
      </tr>
    </ng-container>
  </table>
</div>