.weather {
  width: 80%;
  margin: 0 auto;

  .toolbar {
    display: flex;
    flex-direction: row;
  }

  > h1 {
    font-size: 20px;
    font-weight: 700;
    color: #3f3c3c;
  }
  
  > table {
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    th {
      font-size: 18px;
      color: #FFF;
      background-color: #6c7ae0;
      line-height: 1.4;
      padding: 12px 0px;
    }
    td {
      text-align: left;
      padding: 16px 0px 16px 40px;
      font-size: 15px;
      font-weight: 700;
      color: gray;
      line-height: 1.4;
    }
    tr:nth-child(even) {
      background-color: #f8f6ff;
    }
  }
}